<!-- <h1>Games#score</h1>
<p>Find me in app/views/games/score.html.erb</p>
 -->
<p>...checking your answer...</p>
<br>
<h1>Results</h1>
<%= @final_answer %>
<br>
<br>
<%= link_to "Play again", new_path %>
